/* A FAIRE : 
    Mettre des videos à la place des photos qui se lancent lorsqu'on survole 
    


*/


:root {
    --marron : RGB(191,146,104);
    --bleu-fonce : RGB(48,56,72);
    --gris-fonce : RGB(242, 242, 242);
    --gris-clair : RGB(152,156,164);
}

/* ------------------------------------------ */
/*                 SPECIFIQUE                 */
/* ------------------------------------------ */


/* -------------- LANGUES -------------- */
#zoneLangues{
    /* position:; */
    display :flex;
    flex-wrap: wrap;
    margin-top : 30px;
}
#zoneLangues > a{
    color : var(--marron);
    padding : 5px;
}
#zoneLangues > a:hover{
    color: var(--gris-fonce);
    cursor: pointer;
}



/* -------------- CV -------------- */
#cv{
    width:769px;
    background-color: white;
}
#titrePrincipal_cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--marron);
    height : 150px;
}
#titrePrincipal_cv > h1 {
    font-size : 50px;
}
#titrePrincipal_cv > h2 {
    font-size: 25px;
}

#informationsPersonnelles{
    display:grid;
    padding:20px;
}
#informationsPersonnelles > section{
    text-align:center;
}
#informationsPersonnelles > section > img{
    height: 50px;
}
#informationsPersonnelles > section > a{
    display: block;
    color: var(--bleu-fonce);
}

/* ----------------- */

#cv > main{
    display:grid;
}
#separateur_objectif{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
#objectifs > p {
    margin : 30px 0px;
}
#formations{
    background-color: var(--gris-fonce);
}
#formations > h2{
    margin-top :10px;
    text-align :center; 
}
#formations > article{
    margin-top: 30px;
}
#formations > article > h3 {
    font-size: 18px;
    text-align:center;
}
#formations > article > p {
    text-align:center;
}
#formations > article > ul {
    padding : 0px 30px;
}
#savoir_faire > ul{
    margin : 20px 10px;
}
#savoir_etre > ul{
    margin : 20px 10px;
}


/* -------------- Portfolio -------------- */
#portfolio > header{    
    height: 70vh;

    display:grid;   /*Definition en fonction de la taille de la fenetre*/

    /* background-image: url("header.jpg");
    background-size:cover;
    background-position: center center; */

    align-items: center;
    justify-content :center;
}
#titrePrincipal_portfolio{
    display:flex;
    flex-direction: column;

    align-items :center;
    justify-content:center;

    text-align:center;

    color: var(--bleu-fonce);

    padding:0px 30px;
}
#titrePrincipal_portfolio > h1{
    font-size:60px;
}
#titrePrincipal_portfolio > .trait{
    margin: 40px 0px;
}
#titrePrincipal_portfolio > p{
    width:100%;
    font-size:30px;   
    margin-bottom : 60px;
    color : var(--gris-clair);
}
#titrePrincipal_portfolio > button{
    background: var(--bleu-fonce);
    color:white;
}

/* ----------------- */

#portfolio > main{
    display:flex;
    flex-direction: column;
}
#zoneBleue{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;

    color:white;
    background-color: var(--bleu-fonce);

    padding: 6%;    
}
#zoneBleue > .trait{
    margin: 20px 0px;
}
#zoneBleue > h2{
    font-size: 35px;
}
#zoneBleue > p{
    margin:0px 20%;
    color:var(--gris-clair);   
}
#zoneBleue > button{
    background: white;
    margin-top: 20px;
}

#zoneIcones{
    margin: 90px 0px;
}
#titreIcones{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
#titreIcones > .trait{
    margin: 20px 0px;
}
#titreIcones > h2 {
    font-size: 35px;
}
#grilleIcones{
    display:grid;
    padding: 0px 15%;
}
#grilleIcones > section{
    text-align: center;
}
#grilleIcones > section > h3{
    margin: 10px 0px;
}


#projets{
    margin-top: 90px;
}
#titreProjet{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
#titreProjet > .trait{
    margin: 20px 0px;
}
#titreProjet > h2 {
    font-size: 35px;
}
#zonePhotosProjets {
    background-color: var(--bleu-fonce);
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding : 3% 2%;
}
#zonePhotosProjets article{
    display :flex;
    justify-self: center;
    align-self: center;

    position : relative;
    margin : 20px;
}
#surfNow{
    width:300px;
}
#bataille{
    width: 350px;
}
#roulette{
    height: 300px;
}
#carte_bus{
    width:600px;
}
#puissance4{
    width:250;
}
#reseau{
    width:300px;
}
#bruitage{
    width:600px;
}
#hanoi{
    width:550px;
}
#demineur{
    width:350px;
}
#graphiques_rugby{
    width:600px;
}
#chifoumi{
    width:350px;
}


/* ----------------- */

#portfolio > footer{
    display:flex;
    flex-direction: column;
    padding: 10vh 0px;
}
#titreFooter{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#titreFooter > h2{
    font-size: 35px;
}
#titreFooter > .trait{
    margin: 25px 0px;
}
#titreFooter > p{
    margin-bottom : 10px;
}
#footerGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;

    padding: 0px 25%;
}
#footerGrid > section{
    text-align: center;
}
#footerGrid > section > p{
    margin:0px;
    white-space: nowrap;
}
#footerGrid > section > p:hover{
    color: var(--bleu-fonce);
    cursor: pointer;
}

/* ------------------------------------------ */
/*                   GLOBAL                   */
/* ------------------------------------------ */
/*  ------ BALISES ------*/
* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to bottom, var(--bleu-fonce) 150px,  white 150px) ;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding : 0px;
    padding-top: 50;
}

h1 {
    font-size: 40px;
    font-weight : normal;
}
h2 {
    font-size: 20px;
    font-weight : normal;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    font-size: medium;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*  ------ CLASSES ------*/
.ligneSeparatrice{
    align-self:center;
    width:100%;
    border: 2px solid var(--marron);
}
.titre_separateur{
    background-color: var(--bleu-fonce);
    color:white;
    padding:15px;
    text-align: center;
}
.separateur_savoirs{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.icones{
    height: 70px;
}
.trait{
    width : 60px;
    border:2px solid;
}
.traitMarron {
    border-color: var(--marron);
}
.photosProjets {
    height:100%;
    width:100%;
    align-self : center;
    justify-self: center;
    transition: transform .3s;
}
.photosProjets:hover {
    filter: brightness(35%);
    cursor: pointer;

    
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    z-index: 1;
}
.photosProjets:hover  ~.textePhotoProjet{
    animation-duration: 500ms;
    opacity: 1;
    z-index: 2;
}
.textePhotoProjet{
    height:100%;
    
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content :center;
    text-align: center;

    position :absolute;
    pointer-events: none;
    opacity: 0;
    color : var(--gris-clair);
}
.textePhotoProjet > h2{
    font-size : 30px;
}
.descriptionProjet{
    margin: 20px 0px;
    font-size : 20px;
}
.dateProjet{
    font-size: 15px !important;
    font-style :italic;
}



@media screen and (min-width: 768px)
{
    /* ---------- SPECIFIQUE ---------- */
    #informationsPersonnelles{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    
    #cv > main{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
    }
    #objectifs{
        grid-column: span 2;
    }
    #formations{
        grid-row: span 2;
    }

    /* ---------- */

    #grilleIcones{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 769px)
{
    /* ---------- SPECIFIQUE ---------- */
    #informationsPersonnelles{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    
    #cv > main{
        grid-template-rows: repeat(4, auto);
    }

    /* ---------- */

    #grilleIcones{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}